<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="uTorrentNotifier.Net.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        
      <add key="EmailFromUsername" value="xxx@gmail.com" />
      <add key="EmailFromPassword" value="xxx" />

      <add key="EmailFrom" value="notifier@gmail.net" />
      <add key="EmailTo" value="reciver@gmail.net" />
        
      <add key="SmtpHost" value="smtp.gmail.com" />
      <add key="SmtpPort" value="587" />

      <add key="SubjectPattern" value="Notification from {0}. {1}" />
      <add key="BodyPattern" value="@w1nt3rmut3 Notification from {0}. {1}" />

      <!--
      Empty tokens
      <add key="tw_AppConsumerKey" value="" />
      <add key="tw_AppConsumerSecret" value="" />

      <add key="tw_AccessToken" value="" />
      <add key="tw_AccessTokenSecret" value="" />
      <add key="tw_AccessPin" value="" />
      -->

      <!--Token for xamnial-->
      <add key="tw_AppConsumerKey" value="YWm9zyLW7gFSvV2EsVbQ" />
      <add key="tw_AppConsumerSecret" value="W9d57yqhAbLV8rZB1syx3V06U6kmDtCNxxlaFkGpSg" />

      <add key="tw_AccessToken" value="144880852-eWDoFqrOa7y5rSOWBDrBnJ6hKVr2ryGyc5xAZLLQ" />
      <add key="tw_AccessTokenSecret" value="VGCzj8MiEa7sursGdwe2ULL4PyKVbJTT6TPCZpiqc" />
      <add key="tw_AccessPin" value="3470994" />

      <!--token for w1ntermute-->
      <!--<add key="tw_AppConsumerKey" value="YWm9zyLW7gFSvV2EsVbQ" />
      <add key="tw_AppConsumerSecret" value="W9d57yqhAbLV8rZB1syx3V06U6kmDtCNxxlaFkGpSg" />

      <add key="tw_AccessToken" value="15083553-ytdhRbkwCAavvQXpbW01NtKbwCAuOXcsZIBpLJlvw" />
      <add key="tw_AccessTokenSecret" value="f8dnabiXlmnilGyUllRrgwQX8pL85sCunOf5OvOXf0" />
      <add key="tw_AccessPin" value="" />-->
      
    </appSettings>
    <userSettings>
        <uTorrentNotifier.Net.Properties.Settings>
            <setting name="pin" serializeAs="String">
                <value />
            </setting>
        </uTorrentNotifier.Net.Properties.Settings>
    </userSettings>
</configuration>